*~
*.o
*.mod
*.x
*.a
bin/*
*.inc
iotk
S3DE
include/fft_defs.h
include/configure.h
include/c_defs.h
install/config.log
install/config.status
install/configure.msg

install/m4
install/aclocal.m4
install/autom4te.cache

results*/

DEBUG
*.UPF
*_kernel_table
*.err
*.out

bld/