*~
*.o
*.mod
*.x
*.a
bin/*
*.inc
*.pyc

*.tmp

iotk
S3DE
include/fft_defs.h
include/configure.h
include/c_defs.h

config.log
config.status
configure.msg

install/m4
install/aclocal.m4
install/autom4te.cache

results*/

DEBUG
*.UPF
*_kernel_table
*.err
*.err.*
*.out
*.out.*

bld/


FoX/
Modules/version.f90
test-suite/pw_vc-relax/ave
test-suite/pw_vc-relax/avec
test-suite/pw_vc-relax/e
test-suite/pw_vc-relax/eal
test-suite/pw_vc-relax/p
test-suite/pw_vc-relax/tv
test-suite/userconfig

#modules
thermo_pw/